<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pull Requests: Web Components</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
            <!-- Icons to support Material Design -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link
            rel="stylesheet"
            href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css"
        />
        <script type="module" src="https://unpkg.com/@microsoft/fast-components"></script>
    </head>
    <body>
        <!-- Display Prs -->
        <div>
            <div class="column-header">Pull Requests:</div>
            <div class="filters">
                <fast-button id="filter-all-prs-btn" appearance="lightweight">Active</fast-button>
                <fast-button id="filter-my-prs-btn" appearance="lightweight">Mine</fast-button>
            </div>
            <div id="all-prs-anchor"></div>
        </div>

    </body>
    <script src="scripts/index.js"></script>
</html>
