body {
  font-family: Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, sans-serif
}

body .pr-column {
  display: inline-block;
  margin-right: 1em;
  vertical-align: top;
}

body .column-header {
  padding-bottom: 1em;
  font-weight: 700;
  font-size: 1.2em;
}

body .pr-column .pr-display-ele {
  padding-bottom: 1em;
  width: 15em;
  height: 20em;
}

body .pr-column .pr-display-ele .pr-card {
  padding: 1em;
}

body .pr-column .pr-display-ele .pr-card h3 {
  color: white;
  font-size: medium;
  text-overflow:ellipsis;
}

body .pr-column .pr-display-ele .pr-card p {
  color: rgb(133, 131, 131);
  font-size: small;
}

body .pr-column .pr-display-ele .pr-card .comments-section p {
  color: rgb(228, 222, 222);
  font-size: medium;
  bottom: 1em;
}

fast-badge {
  --badge-fill-danger: #b85e06;
  --badge-color-white: #ffffff;
}